.mr_blog-sidebar .mr_sidebar-widget{
	background: #f7f7f7;
}

.mr_blog-sidebar .mr_search-widget .mr_search-form .mr_form-group input[type='search']{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 60px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	font-size: 16px;
	color: #808080;
	font-family: 'Poppins', sans-serif;
	padding: 10px 20px 10px 60px;
	transition: all 500ms ease;
}
.mr_blog-sidebar .mr_search-widget .mr_search-form .mr_form-group input:focus {
    border-color: #e35712 !important;
}
.mr_blog-sidebar .mr_search-widget .mr_search-form .mr_form-group button{
	position: absolute;
	left: 28px;
	top: 18px;
	font-size: 18px;
	color: #808080;
	cursor: pointer;
	transition: all 500ms ease;
}
.mr_blog-sidebar .mr_post-widget .mr_post{
	border-bottom: 1px solid #e5e5e5;
	min-height: 104px;
}
.mr_blog-sidebar .mr_post-widget .mr_post:last-child{
	border-bottom: none;
}
.mr_blog-sidebar .mr_post-widget .mr_post .mr_post-thumb img{
	width: 100%;
	border-radius: 5px;
}
.mr_blog-sidebar .mr_post-widget .mr_post:hover .mr_post-thumb img{
	opacity: 0.2;
}
.mr_blog-sidebar .mr_post-widget .mr_post h5{
	line-height: 24px;
}
.mr_blog-sidebar .mr_tags-widget .mr_tags-list{
	margin: 0px -5px;
}
.mr_blog-sidebar .mr_tags-widget .mr_tags-list li a{
	padding: 5px 14px;
	border: 1px solid #e5e5e5;
}
.mr_blog-sidebar .mr_tags-widget .mr_tags-list li a:hover {
    color: #fff;
    background: #e35712;
    border-color: #e35712;
}