.mr_ex_shop_header  .mr_header-upper {
    position: relative;
    background: #212734;
}
.mr_ex_shop_header .mr_header-upper .mr_inner-container {
    position: relative;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.mr_ex_shop_header .mr_header-upper .mr_logo-box {
    z-index: 10;
}
.mr_ex_shop_header .mr_header-upper .mr_logo-box .mr_logo {
    position: relative;
    display: block;
    padding: 25px 0px;
}
.mr_ex_shop_header .mr_header-upper .mr_right-column {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box {
    position: relative;
    width: 565px;
    background: #fff;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box .nice-select{
    width: 190px;
    border: none !important;
    border-right: 1px solid #e6e6e6 !important;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #141417;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box .dropdown.bootstrap-select {
    font-size: 16px;
    line-height: 26px;
    color: #222222;
    font-weight: 400;
    width: 190px;
    border-right: 1px solid #ddd;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box button.btn.dropdown-toggle.btn-light {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none !important;
    padding: 13px 20px;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box .dropdown-toggle .filter-option:after {
    color: #222;
    top: 10px;
    right: 25px;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box input {
    position: relative;
    height: 50px;
    border: 2px solid #fff;
    padding: 0 25px;
    color: #888888;
    width: calc(100% - 220px);
    margin: 0;
    outline-offset: 0;
    display: inline-block;
    vertical-align: middle;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box button[type=submit] {
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: #222;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    top: 12px;
    right: 20px;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box button span {
    position: relative;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box button:hover:before {
    width: 100%;
    opacity: 1;
}
.mr_ex_shop_header .mr_header-upper .mr_search-box form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.mr_ex_shop_header .mr_header-upper .mr_right-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.mr_ex_shop_header .mr_header-upper .mr_right-info li {
    font-size: 20px;
    color: #fff;
}
.mr_ex_shop_header .mr_header-upper .mr_right-info li.mr_search-toggler {
    cursor: pointer;
}
.mr_ex_shop_header .mr_header-upper .mr_right-info li a {
    color: #fff;
    transition: .5s;
}
.mr_ex_shop_header .mr_header-upper .mr_right-info li .mr_shopping-cart .mr_count {
    display: inline-block;
    position: relative;
    right: 2px;
    top: -6px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
}
.mr_main-header .mr_header-upper .mr_right-info .mr_icon-box {
    position: relative;
    padding-left: 30px;
}
.mr_main-header .mr_header-upper .mr_right-info .mr_icon-box i {
    position: absolute;
    left: 0;
    top: 8px;
    color: #e35712;
}
.mr_main-header .mr_header-upper .mr_right-info .mr_icon-box h5 {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 600;
}
.mr_main-header .mr_header-upper .mr_right-info .mr_icon-box .mr_text {
    font-size: 13px;
    line-height: 18px;
    color: #bdbec1;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.mr_main-header .mr_header-upper .mr_right-info .mr_icon-box .mr_text a {
    color: #bdbec1;
    font-family: 'Inter', sans-serif;
}
.mr_main-header .mr_header-upper .mr_search-box button:before {
    background-color: #e35711;
}  
.mr_main-header.mr_ex_shop_header .mr_header-upper .mr_right-info li a:hover {
    color: #e35711;
}  
.mr_ex_shop_header .mr_header-phone-number a:hover{
    color: #e35711;
}
.mr_main-header .mr_header-upper .mr_right-info li .mr_shopping-cart .mr_count {
    background: #e35711;
}
@media only screen and (max-width: 1199px){
    .mr_main-header .mr_header-upper .mr_search-box {
        width: 400px;
    }
}
@media only screen and (max-width: 991px){
    .mr_main-header .mr_header-upper .mr_search-box {
        display: none;
    }
}
@media only screen and (max-width: 599px){
    .mr_ex_shop_header_two .mr_header-upper .mr_inner-container{
        justify-content: center;
    }
    .mr_ex_shop_header_two .mr_header-upper .mr_right-info {
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
    }
}
