.mr_main-header{
    position:relative;
    left:0px;
    top:0px;
    right: 0px;
    z-index:999;
    width:100%;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}  
.mr_sticky-header{
    position:fixed;
    opacity:0;
    visibility:hidden;
    left:0px;
    top:0px;
    width:100%;
    z-index:0;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(27, 24, 47, 0.10);
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}  
.mr_fixed-header .mr_sticky-header{
    z-index:999;
    opacity:1;
    visibility:visible;
    -ms-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -op-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.mr_ex_shop_header .mr_main-header {
    position: relative;
    display: block;
    width: 100%;
    z-index: 9999;
    top: 0px;
    left: 0px;
    background: none;
    clear: both;
}
.mr_ex_shop_header .mr_sticky-header {
    background: #343d51;
}
.mr_main-header.mr_ex_shop_header_two .mr_header-lower{
    background: #212734;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.mr_main-header.mr_ex_shop_header_two .mr_header-lower .mr_menu-area{
    padding-left: 0px;
}
.mr_sticky-header .mr_main-menu .mr_navigation > li > a{
    padding: 30px 0px;
}  
.mr_sticky-header .mr_logo-box{
    padding: 14px 0px;
}  
.mr_sticky-header .mr_nav-right{
    margin-left: 30px;
}
.mr_sticky-header .mr_outer-box .mr_nav-right,
.mr_header-lower .mr_outer-box .mr_nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.mr_sticky-header .mr_nav-right .mr_nav-btn,
.mr_header-lower .mr_outer-box .mr_nav-btn{
    width: 20px;
}
.mr_header-style-six .mr_nav-right .mr_nav-btn img {
    transform: scale(1.15);
}
.mr_header-style-six .mr_nav-right .mr_nav-btn:hover img {
    transform: scale(1.0);
}
@media only screen and (max-width: 1200px){
    .mr_ex_shop_header .mr_header-phone-number {
        display: none;
    }
}
@media only screen and (max-width: 1200px){
    .mr_ex_shop_header_two .mr_header-phone-number {
        display: block;
    }
}
@media only screen and (max-width: 991px){
    .mr_ex_shop_header .mr_header-lower .mr_navbar-right-info {
        position: absolute;
    }
}