.mr_nav-outer .mr_mobile-nav-toggler{
    position: relative;
    float: right;
    font-size: 40px;
    line-height: 50px;
    cursor: pointer;
    color:#3786ff;
    display: none;
}
.mr_mobile-menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right:30px;
    max-width:100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999999;
    transition: all 900ms ease;
}
.mr_mobile-menu .mr_navbar-collapse{
    display:block !important; 
}
.mr_mobile-menu .mr_nav-logo{
    position:relative;
    padding: 30px;
    text-align:left;
    /* padding-bottom: 32px; */
    max-width: 160px;
}
.mr_mobile-menu-visible{
    overflow: hidden;
}
.mr_mobile-menu-visible .mr_mobile-menu{
    opacity: 1;
    visibility: visible;
}
.mr_mobile-menu .mr_menu-backdrop{
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 900ms ease;
    background-color: #000;
}
.mr_mobile-menu-visible .mr_mobile-menu .mr_menu-backdrop{
    opacity: 0.70;
    visibility: visible;
    right: 100%;
    -webkit-transition: all .8s ease-out 0s;
    -o-transition: all .8s ease-out 0s
}
.mr_mobile-menu .mr_menu-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #141417;
    padding: 0px 0px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 900ms ease !important;
}
.mr_mobile-menu-visible .mr_mobile-menu .mr_menu-box{
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.mr_mobile-menu .mr_close-btn{
    position: absolute;
    right: 25px;
    top: 10px;
    line-height: 30px;
    width: 24px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    -webkit-transition:all 0.9s ease;
    -moz-transition:all 0.9s ease;
    -ms-transition:all 0.9s ease;
    -o-transition:all 0.9s ease;
    transition:all 0.9s ease;
}
.mr_mobile-menu-visible .mr_mobile-menu .mr_close-btn{
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}
.mr_mobile-menu .mr_close-btn:hover{
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}
.mr_mobile-menu .mr_navigation{
    position: relative;
    display: block;
    width: 100%;
    float: none;
}
.mr_mobile-menu .mr_navigation li{
    position: relative;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.10);
}
.mr_mobile-menu .mr_navigation:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.10);
}
.mr_mobile-menu .mr_navigation li > ul > li:first-child{
    border-top: 1px solid rgba(255,255,255,0.10);
}
.mr_mobile-menu .mr_navigation li > a{
    position: relative;
    display: block;
    line-height: 24px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}
.mr_mobile-menu .mr_navigation li ul li > a{
    font-size: 16px;
    margin-left: 20px;
    text-transform: capitalize;
}
.mr_mobile-menu .mr_navigation li > a:before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:0;
    border-left:5px solid #fff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}
.mr_mobile-menu .mr_navigation li.current > a:before{
    height:100%;
}
.mr_mobile-menu .mr_navigation li.dropdown .mr_dropdown-btn{
    position:absolute;
    right:6px;
    top:6px;
    width:32px;
    height:32px;
    text-align:center;
    font-size:16px;
    line-height:32px;
    color:#ffffff;
    background:rgba(255,255,255,0.10);
    cursor:pointer;
    border-radius:2px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
    z-index:5;
}
.mr_mobile-menu .mr_navigation li.dropdown .mr_dropdown-btn span {
    line-height: 32px;
}
.mr_mobile-menu .mr_navigation li.dropdown .mr_dropdown-btn.open{
    color: #ffffff;
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);  
}
.mr_mobile-menu .mr_navigation li > ul,
.mr_mobile-menu .mr_navigation li > ul > li > ul,
.mr_mobile-menu .mr_navigation > li.dropdown > .mr_megamenu{
    display: none;
}
.mr_mobile-menu .mr_social-links{
    position:relative;
    padding:0px 25px;
}
.mr_mobile-menu .mr_social-links li{
    position:relative;
    display:inline-block;
    margin:0px 10px 10px;
}
.mr_mobile-menu .mr_social-links li a{
    position:relative;
    line-height:32px;
    font-size:16px;
    color:#ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}
.mr_mobile-menu .mr_social-links li a:hover{
    color: #e35712;
}
div#mCSB_1_container{
    top: 0px !important;
}
.mr_mobile-menu .mr_contact-info {
    position: relative;
    padding: 120px 30px 20px 30px;
}
.mr_mobile-menu .mr_contact-info h4 {
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 20px;
}
.mr_mobile-menu .mr_contact-info ul li {
    position: relative;
    display: block;
    font-size: 15px;
    color: rgba(255,255,255,0.80);
    margin-bottom: 3px;
}
.mr_mobile-menu .mr_contact-info ul li a{
    color: rgba(255,255,255,0.80);
}  
.mr_mobile-menu .mr_contact-info ul li a:hover{
    text-decoration: underline;
}
.mr_mobile-menu .mr_contact-info ul li:last-child{
    margin-bottom: 0px;
}
