/* .mr_pagination{
    position: relative;
    display: block;
}  
.mr_pagination li{
    position: relative;
    display: inline-block;
    margin: 0px 3.5px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
}  
.mr_pagination li:last-child{
    margin: 0px !important;
}  
.mr_pagination li a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
    z-index: 1;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    border-radius: 4px;
    font-weight: 600;
}  
.mr_pagination li a:hover,
.mr_pagination li a.current{
    color: #fff;
}  
.mr_pagination li.dot a{
    border: none;
}
.mr_pagination li a:hover, 
.mr_pagination li a.current {
    background: #040404;
    border-color: #040404;
}

.mr_pagination li .current{
    position: relative;
    display: inline-block;
    margin: 0px 3.5px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #040404;
    border-radius: 4px;
    font-weight: 600;
}

.mr_pagination li .dots {
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
    z-index: 1;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    border-radius: 4px;
    font-weight: 600;
}
.mrwidget .widget-title h3{
	font-size:23px;
	font-weight:6pp;
	color:#222;
}

.mr_pagination{
	margin-top:30px;
	margin-bottom:30px;
}
.mr_pagination a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
    z-index: 1;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    border-radius: 4px;
    font-weight: 600;
}
.mr_pagination a:hover {
    background: #040404;
    border-color: #040404;
	color:#fff!important;
}
.mr_pagination span.current {
    position: relative;
    display: inline-block;
    margin: 0px 3.5px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #040404;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid #040404;
}
.pagination a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #141417;
    z-index: 1;
    border: 1px solid #e5e5e5;
    transition: all 500ms ease;
    border-radius: 4px;
    font-weight: 600;
    margin: 0px 3.5px;
}
.pagination a:hover{
    position: relative;
    display: inline-block;
    margin: 0px 3.5px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #040404;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid #040404;
}
.pagination span.current {
    position: relative;
    display: inline-block;
    margin: 0px 3.5px;
    font-size: 16px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #040404;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid #040404;
} */