.auto-container {
    position: static;
    margin: 0 auto;
    max-width: 1200px;
}

.icon_wastix span.elementor-icon-list-icon {
  background-color: #3A9E1E;
  color: #fff;
  padding: 4px;
  width: 18px;
  height: 18px;
  line-height: 20px;
  align-items: center;
  border-radius: 50%;
  left: 0px;
  margin-right: 5px;
}
.icon_wastix_01 span.elementor-icon-list-icon {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  width: 18px;
  height: 18px;
  line-height: 20px;
  align-items: center;
  border-radius: 50%;
  left: 0px;
  margin-right: 5px;
}
.wastix_btn_01 .elementor-button{
position: relative;
display: inline-block;
overflow: hidden;
vertical-align: middle;
z-index: 1;
transition: all 500ms ease;
}
.wastix_btn_01 .elementor-button:before, .wastix_btn_01 .elementor-button:after {
content: "";
position: absolute;
display: block;
box-sizing: border-box;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 50%;
background: #0E1D40;
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
transform-origin: center;
transform: scale(0) rotate(0);
z-index: -1;
}
.wastix_btn_01 .elementor-button:hover:before {
border-radius: 0;
transform: scale(1) rotate(-180deg);
}

.wastix_btn_01 .elementor-button:hover:after {
border-radius: 0;
transform: scale(1) rotate(180deg);
}
.wastix_btn_01 .elementor-button:after {
background: #0E1D40;
}

.wastix_btn_01 .elementor-button span:before{
position: absolute;
content: '';
background: var(--theme-color);
width: 30px;
height: 30px;
left: -10px;
top: -10px;
border-radius: 50%;
transform: scale(0,0);
transition: all 500ms ease;
}

.wastix_btn_01 .elementor-button:hover span:before{
transform: scale(1,1);
}

.wastix_btn_01 .elementor-button span:after{
position: absolute;
content: '';
background: var(--theme-color);
width: 30px;
height: 30px;
right: -10px;
bottom: -10px;
border-radius: 50%;
transform: scale(0,0);
transition: all 500ms ease;
}

.wastix_btn_01 .elementor-button:hover span:after{
transform: scale(1,1);
}
.wastix_bg_animation_01 .elementor-widget-container {
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.2);
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}

.wastix_bg_animation_01 .elementor-widget-container:before{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.wastix_bg_animation_01 .elementor-widget-container:hover:before{
  -webkit-animation: circle .95s;
  animation: circle .95s;
}


@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}



.wastix_bg_animation_02 .elementor-widget-container{
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
}
.wastix_bg_animation_02 .elementor-widget-container:before{
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.wastix_bg_animation_02 .elementor-widget-container:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
.wastix_img_animation_01 .elementor-widget-container{
  position: absolute;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}
.wastix_boxshadow_01 .elementor-icon{
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
}

.wastix_icon_01 .elementor-icon{
  position: relative;
}

.wastix_img_01 {
  position: absolute;
  top: -36px;
}
.wastix_block_02 .elementor-container {
  background-color: #fff;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.2);
  border-radius: 20px;
  padding: 25px 0 20px 0;
  margin-top: 0px;
  margin-left: -25px !important;
}
.wastix_img_animation_02{
  animation-name: rotateme;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateme;
  -webkit-animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateme;
  -moz-animation-duration: 24s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateme;
  -ms-animation-duration: 24s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateme;
  -o-animation-duration: 24s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.wastix_counter_01 .elementor-counter .elementor-counter-number-prefix{
  display: none;
  text-align: left;
}
.wastix_counter_01 .elementor-counter-title{
  text-align: left !important;
}
.wastix_border_01 input {
  border-radius: 10px 0 0 10px !important;
}
.wastix_subscribe_section_01 .elementor-background-overlay{
  z-index: 2;
}
.wastix_services_clomun_01 .elementor-element-populated{
	box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 100px 100px;
}

.wastix_services_clomun_01:hover .elementor-element-populated {
    box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.2);
}
.wastix_services_clomun .wastix_icon_02{
  position: relative;
  display: inline-block;
  transition: all 500ms ease;
}
.wastix_industry_img_01 .elementor-widget-container{
	overflow: hidden;
	border-radius: 10px 10px 100px 100px;
	transition: all 500ms ease !important;
	transition-delay: 0s;
	
}
.wastix_services_clomun:hover img{
	transform: scale(1.05);
}
.wastix_services_clomun:hover .wastix_icon_02{
  transform: rotateY(-180deg);
}
.wastix_services_clomun .wastix_icon_02{
  position: absolute;
  left: 0%;
  top: 200px;
  width: 127px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
}
.wastix_services_clomun .wastix_img_02{
  position: absolute;
  left: 0px;
  top: 190px;
  width: 202px;
  height: 173px;
}


.wastix_feature_block_01 .wastix_icon_03{
  transition: all 500ms ease;
}

.wastix_feature_block_01:hover .wastix_icon_03{
  transform: rotateY(-180deg);
}
.wastix_feature_01{
  transition: all 500ms ease;
}
.wastix_feature_01:hover {
  transform: translateY(-10px);
}
.wastix_feature_box_01 {
  position: relative;
}
.wastix_feature_clomun_01 {
  position: absolute !important;
  top: 80px;
}


.wastix_btn_box_shadow_01 a{
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15) !important;
}

.wastix_img_box_01:hover{
  opacity: 0;
}

.wastix_img_box_hover_01{
  opacity: 0;
  transition: all 500ms ease;
}
.wastix_block_01:hover .wastix_img_box_hover_01{
  opacity: 1;
}
.wastix_block_01 .elementor-element-populated{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1) !important;
}
.wastix_block_01:hover .elementor-element-populated{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2) !important;
}
.wastix_icon_04{
  line-height: 8px;
}
.wastix_icon_04:before,
.wastix_icon_04:after{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.wastix_icon_04:after{
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.wastix_process_block_01:hover .wastix_count_text_01 .elementor-widget-container{
  background-color: var(--theme-color) !important;
  color: #fff !important;
}

.wastix_process_block_01 .wastix_icon_05 .elementor-icon{
  position: relative;
}
.wastix_process_block_01 .wastix_icon_05 .elementor-icon i{
  position: relative;
  width: 180px;
  height: 180px;
  z-index: 999;
  padding: 0;
  text-align: center;
  line-height: 180px;
  border-radius: 50%;
}
.wastix_process_block_01 .wastix_icon_05 .elementor-icon:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #101a31;
  z-index: 2;
  border-radius: 50%;
  transform: scale(0.0);
  transition: all .5s;
}
.wastix_process_block_01:hover .wastix_icon_05 .elementor-icon:before{
  transform: scale(1.0);
}
.wastix_process_block_01 .wastix_icon_05 .elementor-icon:after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 1;
  border-radius: 50%;
}
.wastix_process_block_01:hover .wastix_count_text_01 .elementor-heading-title{
  color: #fff !important;
}
.wastix_bg_animation_03 .elementor-widget-container {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.2);
  border-radius: 50%;
}
.wastix_bg_animation_03 .elementor-widget-container:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.wastix_bg_animation_03 .elementor-widget-container:hover:before {
  -webkit-animation: circle .95s;
  animation: circle .95s;
}
.wastix_img_animation_03 .elementor-widget-container{
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 4s infinite linear;
  animation: zoom-fade 4s infinite linear;
}

.wastix_accordion_01 .elementor-accordion .elementor-accordion-item {
  border: 1px solid #d5d8dc;
  position: relative;
  background: #fff;
  box-shadow: 0px 20px 100px rgba(6, 49, 55, 0.15);
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}
.wastix_accordion_01 .elementor-accordion-item .elementor-tab-title.elementor-active{
  background-color: #3A9E1E;
  transition: all 500ms ease;
}
.wastix_share_icon_01 .elementor-icon {
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 500ms ease;
}
.wastix_social_links_01 .elementor-grid-item {
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.wastix_social_block_01 .wastix_social_links_01{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.0) !important;
  top: 0px;
  width: 180px;
  transition: all 500ms ease;

}
.wastix_social_block_01:hover .wastix_social_links_01{
  transform: translateX(-50%) scale(1.0) !important;
}
.wastix_block_01:hover .wastix_icon_02 .elementor-icon {
  color: #fff !important;
}

.icon_animation_01{
  animation-name: float-bob-y;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob-y;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob-y;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob-y;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.wastix_slider_01 .swiper-slide {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 500ms ease;
}
.wastix_slider_01 .swiper-slide:hover {
  background-color: #fff !important;
}
.mf_select__menu{
  margin-top: 3px !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px !important;
}



.wastix_btn_02 .metform-btn{
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  z-index: 1;
  transition: all 500ms ease;
  }
  .wastix_btn_02 .metform-btn:before, .wastix_btn_02 .metform-btn:after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0E1D40;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: center;
  transform: scale(0) rotate(0);
  z-index: -1;
  }
  .wastix_btn_02 .metform-btn:hover:before {
  border-radius: 0;
  transform: scale(1) rotate(-180deg);
  }
  
  .wastix_btn_02 .metform-btn:hover:after {
  border-radius: 0;
  transform: scale(1) rotate(180deg);
  }
  .wastix_btn_02 .metform-btn:after {
  background: #0E1D40;
  }
  
  .wastix_btn_02 .metform-btn span:before{
  position: absolute;
  content: '';
  background: var(--theme-color);
  width: 30px;
  height: 30px;
  left: -10px;
  top: -10px;
  border-radius: 50%;
  transform: scale(0,0);
  transition: all 500ms ease;
  }
  
  .wastix_btn_02 .metform-btn:hover span:before{
  transform: scale(1,1);
  }
  
  .wastix_btn_02 .metform-btn span:after{
  position: absolute;
  content: '';
  background: var(--theme-color);
  width: 30px;
  height: 30px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  transform: scale(0,0);
  transition: all 500ms ease;
  }
  
  .wastix_btn_02 .metform-btn:hover span:after{
  transform: scale(1,1);
  }
  .mf-input-multiselect .mf_multiselect__control--menu-is-open .mf_multiselect__dropdown-indicator, .mf-input-select .mf_select__control--menu-is-open .mf_select__indicator{
    border-width: 0 8px 7px !important;
    border-color: transparent transparent currentColor;
    color: #3A9E1E;
  }
.wastix_select_option_01 .mf-input-select .mf_select__indicator {
  padding: 0;
  border-style: solid;
  border-width: 8px 7px 0;
  border-color: currentColor transparent transparent;
  color: #3A9E1E;
}
.wastix_shape_01{
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  top: -445px;
  width: 750px !important;
  height: 750px;
  border-radius: 50%;
  border: 95px solid rgba(217, 217, 217, 0.2);
  z-index: -999 !important;
}

.wastix_services_clomun .wastix_icon_06{
  position: relative;
  display: inline-block;
  transition: all 500ms ease;
}

.wastix_services_clomun:hover .wastix_icon_06{
  transform: rotateY(-180deg);
}
.wastix_services_clomun .wastix_icon_06{
  position: absolute;
  left: 33%;
  top: 0;
  width: 127px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
}
.wastix_services_clomun .wastix_img_06{
  position: absolute;
  top: 0;
  left: 33%;
  width: 202px;
  height: 173px;
}
.wastix_services_clomun .wastix_icon_07{
  position: relative;
  display: inline-block;
  transition: all 500ms ease;
}

.wastix_services_clomun:hover .wastix_icon_07{
  transform: rotateY(-180deg);
}
.wastix_services_clomun .wastix_icon_07{
  position: absolute;
  left: -33%;
  top: 0;
  width: 127px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
}
.wastix_services_clomun .wastix_img_07{
  position: absolute;
  top: 0;
  left: -33%;
  width: 202px;
  height: 173px;
}
.wastix_progress_bar_01 .elementor-progress-wrapper{
  overflow: visible !important;
}
.wastix_progress_bar_01 .elementor-progress-percentage{
  margin-top: -21px;
}
.wastix_progress_bar_01 .elementor-progress-wrapper {
  margin-top: 6px;
}
.theme-color{
  color: var(--theme-color);
}
.wastix_img_03 .elementor-widget-container{
  overflow: hidden;
  border-radius: 20px 20px 0 0;
	transition: all 500ms ease;
}
.wastix_team_block_01:hover .wastix_img_03 img{
  transform: scale(1.05);
}
.wastix_font_weight_01 strong{
  font-weight: 500;
}
.wastix_experience_skills_01 .elementor-icon-list-items:after {
  position: absolute;
  content: '';
  background: var(--theme-color);
  width: 6px;
  height: 6px;
  left: 5px;
  top: 10px;
  border-radius: 50%;
}

.wastix_experience_skills_01 .elementor-icon-list-items:before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  left: 0px;
  top: 5px;
  border-radius: 50%;
  border: 1.5px solid var(--theme-color);
}
.wastix_icon_08 .elementor-icon i:before{
  margin-top: 15px;
}
.wastix_text_underline_01 .elementor-heading-title:hover,
.wastix_text_underline_01 .elementor-icon-box-description:hover{
  text-decoration: underline;
}
.wastix_list_category_01 .elementor-widget-container:hover{
  background-color: var(--theme-color) !important;
}
.wastix_list_category_01 .elementor-widget-container:hover i,
.wastix_list_category_01 .elementor-widget-container:hover .elementor-icon-list-text{
  color: #fff !important;
}

.wastix_btn_icon_style_01 .elementor-button-icon.elementor-align-icon-right,
.wastix_btn_icon_style_01 .elementor-button-icon.elementor-align-icon-left{
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 16px;
}
.wastix_btn_icon_style_01:hover .elementor-button-icon.elementor-align-icon-right,
.wastix_btn_icon_style_01:hover .elementor-button-icon.elementor-align-icon-left{
  background-color: var(--theme-color);
  color: #fff;
}
.wastix_mixup_gallery_01 .elementor-tab-title.elementor-active{
  background-color: var(--theme-color);
  border-radius: 10px;
}
.wastix_mixup_block_01 .wastix_mixup_text_01{
  position: absolute !important;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 500ms ease;
}
.wastix_mixup_block_01:hover .wastix_mixup_text_01{
  bottom: 30px;
  opacity: 1;
}
.wastix_mixup_block_01:hover img{
  opacity: 0.3;
}
.wastix_nav_btn_01 .slider_path .owl-nav button{
  box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.2) !important;
  transition: all 500ms ease;
}
.mr_bg_color:before{
  position: absolute;
  content: '';
  background: #022D1F;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.7;
}
li.breadcrumb-item a:hover {
    color: var(--theme-color);
}
.wastix_info_list_01 span{
	color: #A5A4B3;
}

.wastix_slider_banner_01 .slider_path_left {
    padding: 66px 70px 70px 70px;
    background-color: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(7.5px);
    border-radius: 20px;
    width: 740px;
}
.wastix_image_zindex_01 img{
	z-index: -1;
}


/* resposive css  */



@media only screen and (max-width: 1299px){

.feature_section_01{
  display: none;
}
}
@media only screen and (min-width: 1299px){

  .feature_section_02{
    display: none;
  }
  }
@media only screen and (max-width: 1555px){

.wastix_header_contact_01{
  display: none;
}

	
	
.wastix_nav_btn_01{
	position: relative;
}

.wastix_nav_btn_01 .wps_order.order-3.thumb-alingment {
    position: absolute;
}

.wastix_nav_btn_01 .wps_order.order-4 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -119px;
}

.wastix_nav_btn_01 .wps_order.order-5 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -160px;
}
	
.wps_testimonials .owl-nav button{

    transition: all 500ms ease!important;
}	
.mr_main-menu .mr_navigation > li.current > a,
.mr_main-menu .mr_navigation > li:hover > a{
    color: var(--theme-color) !important;
}
.wps_slider_path .owl-nav {
    left: -50px;
    right: -50px;
    display: flex;
}
.admin-bar .mr_fixed-header .mr_sticky-header{
	padding-right: 30px !important;
	padding-left: 30px !important;
}
@media only screen and (max-width: 1554px){
	.wastix_header_contact_01{
		display: none !important;
	}
	.wastix_header_search_01{
		width: 15% !important;
	}
	.wastix_header_btn_01{
		width: 85% !important;
	}
	.wastix_header_menu_01{
		width: 68% !important;
	}
	
}
@media screen and (min-width:1024px) and (max-width:1534px){
.wastix_header_datetime_01 {
    display: none !important;
}
.wastix_header_email_01 {
    width: 35% !important;
}
.wastix_header_address_01 {
    width: 35% !important;
}
.wastix_header_login_01 {
    width: 18% !important;
}
.wastix_header_social_profile_01 {
    width: 13% !important;
}
}
